html {
  font-size: calc(10 * 100vw /390);
  scroll-behavior: smooth;
}

@media (min-width:768px) {
    html {
      font-size: calc(10 * 100vw / 1200);
    }
}

@media (min-width:1200px) {
    html {
      font-size: 62.5%;
    }
}

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.87;
  color: #000000;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.6;
}

li, ol {
  list-style: none;
}

.Top {
  height: 55.7rem;
}
@media (min-width:768px) {
  .Top {
    height: 72rem;
  }
}

.Top__img {
  background-image: url(/assets/image/main.jpg) ;
  background-size: cover;
  background-position: center;
  height: 45rem;
  margin: 0 auto ;
}
@media (min-width:768px) {
  .Top__img {
    height: 100%;
    background-image: url(/assets/image/main_pc.jpg) ;
    background-size: cover;
    background-position: center;
  }
}

.Top__img--title{
  font: 400 2.4rem/1.25 "Marcellus", serif;
  display: block;
  letter-spacing: 0.2em;
  padding-top: 2.4rem;
  text-align: center;
}
@media (min-width:768px) {
  .Top__img--title{
    font: 400 2.8rem "Marcellus", serif;
    padding-top: 3.2rem;
  }
}

@media (min-width:768px) {
  .Top__comp{
    max-width: 120rem;
    width: 120rem;
    margin: 0 auto;
  }
}

.Top__title {
  font: 400 4.1rem "Marcellus", serif;
  letter-spacing: 0.3em;
  margin: 35.8rem 0 0.2rem 2.3rem;
}
@media (min-width:768px) {
  .Top__title {
    font: 400 5rem/1.36 "Marcellus", serif;
    margin: 19.5rem auto 0.3rem 7.3rem;
  }
}

.Top__txt {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-left: 2.3rem;
}
@media (min-width:768px) {
  .Top__txt {
    font-size: 2.5rem;
    margin-left: 7.3rem;
  }
}


.shop {
  width: 35.8rem;
  height: 26.1rem;
  margin: 5rem auto 0;
  background-color: #f0f4ff;
  padding: 2rem 0;
}
@media (min-width:768px) {
  .shop {
    width: 100rem;
    height: 14.6rem;
    margin: 4.8rem auto 0;
    padding: 4rem 4.8rem;
    background-color: #f0f4ff;
    display: flex;
    align-items: center;
  }
}

.shop__title {
  font-size: 1.8rem;
  line-height: 1.444;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: center;
}
@media (min-width:768px) {
  .shop__title {
    font-size: 2.4rem;
    text-align: left;
    width: 21.1rem;
  }
}

.shop__cost {
  font-size: 1.4rem;
  line-height: 1.429;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}
@media (min-width:768px) {
  .shop__cost {
    font-size: 1.6rem;
    text-align: left;
  }
}

.shop__button--blue {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #46c4db;
  width: 30rem;
  height: 5.8rem;
  display: block;
  margin: 2rem auto;
  border-radius: 2.9rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.556;
  padding: 1.6rem 0;

}
@media (min-width:768px) {
  .shop__button--blue {
    margin: 0 3.2rem 0 6.2rem;
  }
}

.shop__button--green {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #5dd5ab;
  width: 30rem;
  height: 5.8rem;
  display: block;
  margin: 2rem auto;
  border-radius: 2.9rem;
}
@media (min-width:768px) {
  .shop__button--green {
    margin: 0 auto;
  }
}

form button {
  color: #ffffff;
}

.greenbg {
  background-image: url(/assets/image/cream.jpg) ;
  background-size: cover;
  background-position: center;
  height: 68rem;
  padding: 4.8rem 1.6rem;
  margin: 5rem 0;
}
@media (min-width:768px) {
  .greenbg {
    background-image: url(/assets/image/cream_pc.jpg) ;
    height: 55rem;
    padding: 12.6rem 0;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
  }
}

@media (min-width:768px) {
  .greenbg__comp {
    max-width: 120rem;
    width: 120rem;
    margin: 0 auto;
  }
}

@media (min-width:768px) {
  .greenbg__container {
    width: 46.7rem;
    height: 29.6rem;
    margin-left: 67.9rem;
    margin-right: 5.4rem;
  }
}

.greenbg__title {
  color: #ffffff;
  font: 700 3rem "EB Garamond";
  line-height: 1.3;
  text-align: center;
  height: 3.9rem;
}
@media (min-width:768px) {
  .greenbg__title {
    font-size: 3.8rem;
    text-align-last: left;
    height: 4.8rem;
    line-height: 1.4;
  }
}

.greenbg__subtitle{
  font-weight: 600;
  font-size:  2.4rem;
  line-height: 2.2;
  height: 3.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2.2rem;
}
@media (min-width:768px) {
  .greenbg__subtitle{
    text-align: left;
    line-height: 2.25;
    margin-bottom: 2.7rem;
  }
}

.greenbg__txt {
  font-weight: 400;
  font-size:  1.4rem;
  line-height: 2.286;
  color: #ffffff;
  width: 35.8rem;
  margin: 0 auto;
}
@media (min-width:768px) {
  .greenbg__txt {
    margin: unset;
    width: 42.9rem;
  }
}


.voice {
  width: 35.8rem;
  height: 47.1rem;
  margin: 0 auto;
  position: relative;
}
@media (min-width:768px) {
  .voice {
    width: 115.6rem;
    height: 55.6rem;
  }
}

.voice__title {
  font: 700 3rem "EB Garamond";
  text-align: center;
  letter-spacing: 0.05em;
}
@media (min-width:768px) {
  .voice__title {
    font: 700 4.5rem "EB Garamond";
  }
}

.voice__subtitle {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 3.3rem;
}
@media (min-width:768px) {
  .voice__subtitle {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 3.3rem;
    line-height: 2.1;
  }
}

.swiper {
  width: 28rem;
  height: 34.4rem;
}
@media (min-width:768px) {
  .swiper {
    width: 98rem;
    height: 38.8rem;
  }
}

.swiper-card {
  background-color: #dbf7f9;
  width: 28rem;
  height: 34.4rem;
  margin: 0 auto;
  padding-top: 2.8rem;
}
@media (min-width:768px) {
  .swiper-card {
    width: 30rem;
    height: 38.8rem;
  }
}

.swiper-img1, .swiper-img2, .swiper-img3, .swiper-img4, .swiper-img5, .swiper-img6 {
  object-position: 40% 10%;
  object-fit: cover;
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 0 9.5rem 0 10.5rem;
  border-radius: 50%;
}
@media (min-width:768px) {
  .swiper-img1, .swiper-img2, .swiper-img3, .swiper-img4, .swiper-img5, .swiper-img6 {
    width: 10rem;
    height: 10rem;
    margin: 1.3rem auto 0;
    overflow: hidden;
  }
}

.swiper-card p {
  width: 4.1rem;
  margin: 1.1rem 12.0rem 1.9rem 12.1rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.05em;
}
@media (min-width:768px) {
  .swiper-card p {
    width: 4.4rem;
    font-size: 1.5rem;
    margin: 1.1rem auto 1.2rem;
    margin-bottom: 1.6rem;
  }
}

.swiper-txt {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2;
  width: 25rem;
  margin: 0 auto;
}
@media (min-width:768px) {
  .swiper-txt {
    font-size: 1.6rem;
    width: 26.8rem;
    line-height: 1.75;
  }
}

.swiper-button-prev, .swiper-button-next {
  background-size: contain;
  background-position: center;
  width: 3.2rem;
  height: 3.2rem;
}
@media (min-width:768px) {
  .swiper-button-prev, .swiper-button-next {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.swiper-button-prev {
  top: 28rem;
  left: 0rem;
  background-image: url(/assets/image/arrow_left_circle_fill.svg);
}
@media (min-width:768px) {
  .swiper-button-prev {
    top: 32.7rem;
    left: 0rem;
  }
}

.swiper-button-next {
  top: 28rem;
  right: 0rem;
  background-image: url(/assets/image/arrow_right_circle_fill.svg);
}
@media (min-width:768px) {
  .swiper-button-next {
    top: 32.7rem;
    right: 0rem;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-pagination-bullet {
  width: 0.9rem;
  background-color: #eeeeee;
  opacity: 1;

}

.swiper-pagination-bullet-active {
  background-color: #00afbf ;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, -0.5rem);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.question {
  background: linear-gradient(to right, #f4ffe8, #c6f0fe);
  margin-top: 5rem;
  padding: 3.2rem 1.6rem 1.3rem 1.6rem;
}
@media (min-width:768px) {
  .question {
    margin-top: 8rem;
    padding: 4rem 4rem 1.5rem 4rem;
  }
}

.question__title {
  font: 700 3rem "EB Garamond";
  letter-spacing: 0.05em;
  text-align: center;
}
@media (min-width:768px) {
  .question__title {
    font: 700 4.5rem "EB Garamond";
  }
}

.question__txt {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 3.4rem;
}
@media (min-width:768px) {
  .question__txt {
    font-size: 2rem;
    margin-bottom: 3.3rem;
    line-height: 2.1;
  }
}

.question__container {
  width: 35.8rem;
  margin: 0 auto 2rem auto;
  background-color: #ffffff;
  cursor: pointer;
  padding: 1.7rem 1.66rem 0 1.6rem;
  border: solid 0.1px transparent;
}
@media (min-width:768px) {
  .question__container {
    width: 60rem;
    margin: 0 auto 2.4rem auto;
    padding: 2.4rem 2.5rem 1.85rem 2.5rem;
  }
}

.question__container__txt1 {
  display: flex;
  gap: 1.3rem;
  height: 4.9rem;
  margin-bottom: 2.1rem;
}
@media (min-width:768px) {
  .question__container__txt1 {
    gap: 1.4rem;
    line-height: 1.3;
    height: unset;
    margin-bottom: 0;
  }
}

.question__container__txt--q {
  font: 400 1.6rem/1.8 "EB Garamond";
  letter-spacing: 0.05em;
}
@media (min-width:768px) {
  .question__container__txt--q {
    font: 400 1.8rem/1.4 "EB Garamond";
    letter-spacing: 0.05em;
  }
}

.question__container__txt2 {
  display: flex;
  gap: 1.0rem;
  margin-top: 1.9rem;
  margin-bottom: 2.8rem;
}
@media (min-width:768px) {
  .question__container__txt2 {
    gap: 1.4rem;
    margin-top: 1.6rem;
    margin-bottom: 0;
  }
}

.question__container__txt--a {
  font-size: 1.5rem;
  line-height: 1.867;
}
@media (min-width:768px) {
  .question__container__txt--a {
    width: 49.1rem;
  }
}

.question__container__txt--b {
  font-size: 1.5rem;
}
@media (min-width:768px) {
  .question__container__txt--b {
    width: 51.8rem;
  }
}

.question__container__txt--tag1 {
  display: none;
  line-height: 3.5;
}
@media (min-width:768px) {
  .question__container__txt--tag1 {
    font: 400 1.5rem/1.5 "EB Garamond";
  }
}

.question__container__txt--tag2 {
  display: block;
  line-height: 3.5;
}
@media (min-width:768px) {
  .question__container__txt--tag2 {
    font: 400 1.5rem/1.5 "EB Garamond";
  }
}

.js_txt {
  display: none;
}

.sticky_icon {
  position: sticky;
  display: flex;
  bottom: 3rem;
  z-index: 11;
}
@media (min-width:768px) {
  .sticky_icon {
    position: sticky;
    display: flex;
    bottom: 3rem;
  }
}

.back__to__top  {
  width: 4rem;
  height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: 1.6rem;
  margin-top: 1rem;
}
@media (min-width:768px) {
  .back__to__top {
    margin-left: auto;
    margin-right: 15rem;
  }
}

.footer {
  background-color: #0071ce;
}
@media (min-width:768px) {
  .footer {
    width: 100%;
    margin: 0 auto;
  }
}

.footer__container {
  padding: 2.4rem 4.5rem;
}
@media (min-width:768px) {
  .footer__container {
    width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 2.4rem 0rem;
    height: 10.4rem;
  }
}

.footer__container__title {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 2.3rem;
}
@media (min-width:768px) {
  .footer__container__title {
    margin: 3.2rem 20.6rem 3.2rem 3.2rem;
    width: 19rem;
  }
}

.footer__container__menu {
  display: flex;
  width: 30rem;
  margin: 0 auto 1.8rem;
  justify-content: center;
  gap: 3rem;
}
@media (min-width:768px) {
  .footer__container__menu {
    margin: 0;
    width: 34.4rem;
    gap: 3.1rem;
  }
}

.footer__container__menu a {
  color: #ffffff;
  font-size: 1.2rem;
}
@media (min-width:768px) {
  .footer__container__menu a {
    font-size: 1.4rem;
  }
}

.footer__container p {
  color: #ffffff;
  font-size: 1.1rem;
  text-align: center;
}
@media (min-width:768px) {
  .footer__container p {
    font-size: 1.2rem;
    margin-left: 15.3rem;
  }
}









