$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
  ) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  font-size: calc(10 * 100vw /390);
}

@include mq() {
    html {
      font-size: calc(10 * 100vw / 1200);
    }
}

@include mq(xl) {
    html {
      font-size: 62.5%;
    }
}